:root {
font-size:17px;
}
html {
font-size:17px;
}
@font-face {
font-display:optional;/* changed all of these from swap to optional as SUCCESSFUL test fix CLS */
font-family:'Open Sans';
src:url(../fonts/open-sans-v14-latin-regular.eot);
src:url(../fonts/open-sans-v14-latin-regular.eot?#iefix) format("embedded-opentype"),url(../fonts/open-sans-v14-latin-regular.woff2) format("woff2"),url(../fonts/open-sans-v14-latin-regular.woff) format("woff"),url(../fonts/open-sans-v14-latin-regular.ttf) format("truetype"),url(../fonts/open-sans-v14-latin-regular.svg#svgFontName) format("svg");
font-size-adjust:100%;
ascent-override:normal;
descent-override:normal;
line-gap-override:normal;
}
@font-face {
font-display:optional;
font-family:'Open Sans Italic';
src:url(../fonts/open-sans-v14-latin-italic.eot);
src:url(../fonts/open-sans-v14-latin-italic.eot?#iefix) format("embedded-opentype"),url(../fonts/open-sans-v14-latin-italic.woff2) format("woff2"),url(../fonts/open-sans-v14-latin-italic.woff) format("woff"),url(../fonts/open-sans-v14-latin-italic.ttf) format("truetype"),url(../fonts/open-sans-v14-latin-italic.svg#svgFontName) format("svg");
font-size-adjust:100%;
ascent-override:normal;
descent-override:normal;
line-gap-override:normal;
}
@font-face {
font-display:optional;
font-family:'Open Sans Bold';
src:url(../fonts/open-sans-v14-latin-600.eot);
src:url(../fonts/open-sans-v14-latin-600.eot?#iefix) format("embedded-opentype"),url(../fonts/open-sans-v14-latin-600.woff2) format("woff2"),url(../fonts/open-sans-v14-latin-600.woff) format("woff"),url(../fonts/open-sans-v14-latin-600.ttf) format("truetype"),url(../fonts/open-sans-v14-latin-600.svg#svgFontName) format("svg");
font-size-adjust:100%;
ascent-override:normal;
descent-override:normal;
line-gap-override:normal;
}
@font-face {
font-display:optional;
font-family:'Playfair Display';
src:url(../fonts/playfair-display-v10-latin-700.eot);
src:url(../fonts/playfair-display-v10-latin-700.eot?#iefix) format("embedded-opentype"),url(../fonts/playfair-display-v10-latin-700.woff2) format("woff2"),url(../fonts/playfair-display-v10-latin-700.woff) format("woff"),url(../fonts/playfair-display-v10-latin-700.ttf) format("truetype"),url(../fonts/playfair-display-v10-latin-700.svg#svgFontName) format("svg");
font-size-adjust:100%;
ascent-override:normal;
descent-override:normal;
line-gap-override:normal;
}
*,:before,:after {
box-sizing:border-box;
}
*:focus {
outline: 0.188rem solid #000000;
outline-offset: 0.125rem;}
*:focus:not(:focus-visible) {
    /* Remove focus indication when a mouse is used */
    outline: none;}
*:focus-visible {
    outline: 0.188rem solid #000000;
    outline-offset: 0.125rem;}
html,body {
scroll-behavior:smooth;
}
body {
text-rendering:optimizeLegibility!important;
}
address,blockquote,body,div,h1,h2,h3,h4,h5,h6,html,li,p,ul {
margin:0;
padding:0;
}

body {
background-color:#FFFCFC;/* was fef7ee */
color:#36260f;
/*  WHY SANS SERIF ?
    PLUS, RE-STATED IN LINE 271 BEFORE FIRST MEDIA QUERY ...
font-family:'Open Sans',Montserrat,Helvetica,Verdana,Arial,sans-serif; */
font-size:1rem;
line-height:1.5;
margin:0;
min-height:100vh;
overflow-y:scroll;
padding:0;
scroll-behavior:smooth;
text-rendering:optimizeSpeed;
}
.wrapper {
  margin-right:auto;
  margin-left:auto;
  max-width:970px;
  padding-right:10px;
  padding-left:10px;
  width:100%;
}

/* ACCESSIBLE START */
.visible-on-focus {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
.visible-on-focus:active, .visible-on-focus:focus {
border:none;
/* Visible in the full-color space */
box-shadow:0px 0px 3px 3px rgba(0,123,255,1);
/* Visible in Windows high-contrast themes */
color:blue;
height:auto;
left:auto;
font-family:sans-serif;
font-size: 1.5em;
font-weight:600;
line-height:inherit;
outline-color:transparent;
outline-style:dotted;
outline-width:3px;
position:relative;
width:auto;
}
/* ACCESSIBLE END */
h1 {
color:#3A2918;
font-family:'Playfair Display',Palatino,Georgia,serif;
font-size:2.25rem;
font-weight:700;
margin:5px 0 10px; /* TOP R+L BOTTOM */
min-height:54px;
} /* If margin left and right values are the SAME, PUT R+L IN THE MIDDLE, and use the margin shorthand property with three values: */

h2 {
color:#675645;
font-family:'Playfair Display',Palatino,Georgia,serif;
font-size:1.2rem;
font-weight:800;
margin:0 0 20px .5em; /* TOP R+L BOTTOM (3 values) */
text-transform:uppercase;
}

#article > h3.author /* byline */ {
font-family:'Open Sans',Montserrat,Helvetica,Verdana,Arial,sans-serif;
font-weight: 500;
margin:.3rem 0 .8rem;
}

h3 {
color:#5D5846;
font-family:'Playfair Display',Palatino,Georgia,serif;
font-size:1.1rem;
font-weight:700;
margin:.3rem 0 .8rem;
width:100%;
}

h4 {
color:#686351;
font-family:'Open Sans',Montserrat,Helvetica,Verdana,Arial,sans-serif;
font-size:.95rem;
margin:1.5em 0 .6em .7em;
}

h5 {
color:#675645;
font-family:'Open Sans',Montserrat,Helvetica,Verdana,Arial,sans-serif;
font-size:.85rem;
margin:1.9em 0 .937em; /* TOP R+L BOTTOM */
}

h6 {
color:#442918;
font-family:'Playfair Display',Palatino,'Palatino Linotype',Georgia,serif;
font-size:2rem;
margin:0;
padding:.3em 0 1em; /* TOP R+L BOTTOM */
}

q {
quotes:'\201c' '\201d';
}

q:before {
content:open-quote;
}

q:after {
content:close-quote;
}

hr {
background-color:rgba(0, 0, 0, 0.35);
border:0;
display:block;
height:1px;
margin:3em 0;
width:70%;
}

#header p {
font-weight:700;
padding-right:0;
text-align:center;
}

#navigate,.lft {
float:left; /* WHY FLOAT THE *NAV* IF THIS IS MOBILE-FIRST DESIGN ??? */
}

#header p,.lft {
text-align:center;
}

.lboxx2 {
background-color:#92CFED;
height:.5em;
}

.bboxx2 {
background-color:#92CFED;
height:7px;
margin:0;
width:100%;
}

#header p,#main {
margin:0 auto;
}

#header {
background:#960;
padding:.5em 0;
}

figure {
margin:0em;/* 10-21-22 NO MARGIN UNLESS FLOATED OR SIMILAR PROXIMITY TO TEXT */
padding:0em;
}
figure image {
margin:0;
}
figcaption {
color:#876;
font-size:.9rem;
font-style:normal;
font-weight:400;
line-height:1.2;
text-align:center;
}
.rgt {
float:right;
width:auto;
}

.clearfix::after {
content:"";
display:table;
clear:both;
height:0;
visibility:hidden;
}

a.nlnk:link,a.nlnk:visited {
border-bottom:1px dashed #AB541B;
border-top:1px dashed #F2CE5B;
color:#754B00;
text-decoration:none;
}

a.nlnk:active,a.nlnk:hover {
border-bottom:1px dashed #55E;
border-top:1px dashed #55E;
color:#55E;
text-decoration:none;
}

a.ilnk:link,a.ilnk:visited {
color:#AB541B;
}

a.ilnk:active,a.ilnk:hover {
color:#55E;
}

#header p {
color:#FDFCE0;
font-family:Palatino,'Palatino Linotype',Georgia,serif;
font-weight:700;
letter-spacing:1em;
line-height:2;
}

* html #main {
width:980px;
}

span.chi {
display:inline-block;
}

.date {
border-left:1px solid #D63;
color:#777;
font-weight:500;
margin-left:10px;
padding-left:12px;
}

.listhead {
border:none;
color:#36260F;
line-height:1.4;
margin:0 auto;
padding-bottom:0;
}

p sup {
font-size: .85em;
line-height: 1;
vertical-align: top;
}

h4 {
color:#686351;
margin:1.5em 0 .6em 0;
}

h5 {
color:#675645;
margin:1.9em 0 .937em; /* TOP R+L BOTTOM */
}

blockquote,div.altcont {
font:400 1em/1.4 Palatino,'Palatino Linotype',Georgia,serif;
}
blockquote {
font-size:1.1em;
font-style:italic;
line-height:1.2em;
margin:0 0 1.4em;
margin-bottom:clamp(.9em, 1.6em, 1.8em); /* maybe no media queries ? */
max-width:78ch;
padding:0 4em 0 2.5em;
padding-left:clamp(.6em, 1em, 2.5em); /* maybe no media queries ? */
padding-right:clamp(1em, 1.5em, 4em); /* maybe no media queries ? */
}

div.altcont {
margin:0 0 1em;
max-width:38em;
}

/*  WHY SANS SERIF FONT ?
p,ul {
font:400 1em/1.4 'Open Sans',Montserrat,Helvetica,Verdana,Arial,sans-serif;
letter-spacing:.02em;
margin:0 0 1em;
max-width:90%;
}   */

object {
margin:0 0 1.5em;
}

ul {
margin-left:1em;
padding-left:.75em;
}

.pbmarg1 {
margin-bottom:2.5em;
}

.pbmarg2 {
margin-bottom:6em;
}

#cleardefault {
margin-bottom:-.12em;
}

.bck {
color:#960;
}

.bbox,.lbox {
background-color:#92CFED;
}

.itl {
font-style:italic;
}

.rdr {
margin:72px 72px auto 60px;
}

.bbox,#navlist {
margin:0;
width:100%;
}

.bld {
font-weight:700;
}

tt {
font-family:'courier new','lucida console','andale mono','dejavu sans mono','bitstream vera sans mono',monaco,consolas,monospace;
font-weight:400;
line-height:1.4;
}

em {
font-style:normal;
}

.up {
font-size:2em;
}

span.chi {
vertical-align:-.7em;
}

.postam {
display:none;
}
.lbox {
height:.5em;
}
.bbox {
height:.75em;
}

/* ========== NAV SECTION START ============ */
#navigate {
display:block;
padding:21px 6px 10px 1%;
/* desktop is 5px 1.3em 10px 1%; */
width:18%;
width:clamp(18%, 22%, 26%);
}
* html #navigate {
margin-left:5%;
}
#navlist {
font:400 95% 'Open Sans',Montserrat,Helvetica,Verdana,Arial,sans-serif;
/* height:581.4px; */
padding:0;
text-transform:uppercase;
}
#navlist li {
border-color:#E1D3BC;/* was F3E5CE */
border-style:solid;
border-width:0 0 1px;
height:48px;
min-height:48px;/* suggested by smashingmagazine to fix CLS weirdness */
list-style:none;
}
#navlist > li > em,#navlist > .incat > em,#navlist > li > strong {
color:#654;
display:block;
font-style:normal;
font-weight:600!important;
padding:16px 0 16px 10px !important;/* possible location elements too close was "6px 0 6px 10px" */
}
#navlist .incat a,#navlist .incat strong {
padding-left:25px!important;
}
/* ========== NAV SECTION END ============ */

#binder,#bindertest {
height:1.5em;
width:100%;
}
img {
display:block;
height:auto;
margin-bottom:4px;
max-width:100%;
}
.audio_player{
background-color:rgba(33, 33, 33, 1);
border:1px solid #333;
border-radius:4px;
	color:#fefefe;/* no effect ? */
display:block;
height:70px;/* essential to prevent controls not-showing-up */
margin:.35em auto;
padding:.5em;
width: 85%;
	}
.audio_player:hover {
background-color: rgba(11, 11, 200, .5);
	}
audio::media-controls-play-button {
	transform: scale(2);
}
audio::-webkit-media-controls-play-button {
	transform: scale(2);
} /* ALSO chrome for some reason */
audio::-moz-media-controls-play-button { transform: scale(2);}

.amz {
font-size:10px!important;
margin-top:1.75em;
}
#amazoncontent,#amazoncontent table {
font-size:7pt!important;
}

#privacy a {
font-size:6pt!important;
}

.lft {
/*color:#333;*/
float:left;
font:.8rem/1 'Playfair Display',Palatino,'Palatino Linotype',serif;
margin:.4rem 1rem .6rem 0;
width:auto;
}

#samplist {
border-bottom:2px solid #999;
border-left:none;
border-right:none;
display:block;
font:400 .8em/1.5em 'Open Sans',Montserrat,Helvetica,Verdana,Arial,sans-serif;
margin:0 0 1em;
margin:0;
padding:0;
width:45%;
}

#samplist li {
background:#EBEBEB;
border-left:2px solid #999;
border-right:2px solid #999;
border-top:2px solid #999;
list-style:none;
}

#samplist li a:link,#samplist li a:visited {
color:#960;
display:block;
margin:0;
padding-bottom:1px;
padding-left:6px;
padding-top:1.5px;
text-decoration:none;
}

#samplist li a:active,#samplist li a:hover {
color:#55E;
display:block;
margin:0;
padding-bottom:1px;
padding-left:6px;
padding-top:1.5px;
text-decoration:none;
}

#gos {
margin-top:-1em;
width:450px;
}

#ftr {
background:#960;
display:block;
height:.75em;
margin:0;
width:100%;
}

#binder {
bottom:0;
left:0;
/* position:absolute; */
}

.supp li a:active,.supp li a:hover,.supp li a:link,.supp li a:visited {
border:0;
color:#960;
}

input,textarea {
background:#EFEFEF;
border:1px solid #640;
color:#999;
}

input:focus,textarea:focus {
background:#fefefe;
border:1px solid #5298EE;
}

#frmtxtd {
color:#36260F;
}

textarea {
max-width:85%;
}
/*  #pagetop a:active,#pagetop a:hover,#pagetop a:link,#pagetop a:visited  */
#pagetop a {
color:#960;
background-color:transparent;
display:block;
font-size:1rem;
font-weight:100;
margin:3em auto;
padding:1em;
text-align:center;
width:12em;
}
#pagetop a:active,#pagetop a:hover {
background-color:rgba(11, 11, 200, .1);
color:#630;
}

.sup2,.supp {
font-size:1rem;
letter-spacing:.03em;
list-style-position:inside;
margin:0 0 1.5em 15px;
width:auto;
}

.supp {
color:#960;
line-height:1.6;
max-width:95%;
}

.sup2 {
line-height:1.4;
max-width:85%;
padding-left:0;
}

.ftnt {
font-size:.7rem;
}

.paypal input {
width:auto;
}

.bboxbx2,.bboxb {
background:#E4F3FF;
}

/* ======== NAVIGATION SECTION START ========== */
#navlist li a:link,#navlist li a:visited {
color:#960;
display:block;
height:48px;
padding:16px 0;/* possible location of elements too close was "6px 0" */
text-decoration:none;
}
#navlist li a:active,#navlist li a:hover {
color:#55E;
display:block;
height:48px;
padding:16px 0;/* possible location of elements too close was "6px 0" */
text-decoration:none;
}
* html .clearfix,* html #navlist li a,* html #navlist .incat em,* html #navlist .incat strong {
height:1%;}
/* ======== NAVIGATION SECTION END ========== */

.lb,.bb {
background:#A8DBEC;
}

input#donate {
border:none;
background-color:transparent;}


/* ==================================== PHONES ======================================= */
/* WAS @media only screen and (max-width: 480px) */
@media only screen and (min-width: 320px) and (max-width: 767px) /* ya phones */ {

h1 {
color: #3A2918;
font: 200% 'Playfair Display',Palatino,'Palatino Linotype',Georgia,"Times New Roman",Times,serif;
font-weight:600;
margin: 15px 0 10px;
padding:0;
}/* PHONES */

h2 {
color:#675645;
font-family:'Playfair Display',Palatino,Georgia,serif;
font-size:1.2rem;
font-weight:800;
margin:0 0 20px 0; /* TOP R+L BOTTOM (3 values) */
padding:0;
text-transform:uppercase;
}

#article > h3.author, .author /* byline */ {
font-family:'Open Sans',Montserrat,Helvetica,Verdana,Arial,sans-serif;
font-weight: 500;
margin:.3rem 0 .8rem;
padding:0;
}

h3 {
color:#5D5846;
font-family:'Playfair Display',Palatino,Georgia,serif;
font-size:1.1rem;
font-weight:700;
margin:.3rem 0 .8rem;
padding:0;
width:100%;
}

h4 {
color:#686351;
font-size:.85rem;
margin:3em 0 .6em 0;
padding:0;
}

h5 {
color:#675645;
font-size:.85rem;
margin:1.9em 0 .937em; /* TOP R+L BOTTOM */
padding:0;
}

h6 {
color:#442918;
font-family:'Playfair Display',Palatino,'Palatino Linotype',Georgia,serif;
font-size:2rem;
margin:0;
padding:.3em 0 1em; /* TOP R+L BOTTOM */
}

#header p,h3.listhead,p {
line-height:1.4;
}

#article,body {
min-height:100%;
}

body {
width:100%;
}

p {/* from datatable01.css but adapted here */
font-family:Palatino,'Palatino Linotype',Georgia,serif;
font-size:1rem;
font-variant:normal;
font-weight:400;
letter-spacing:.03em;
line-height:1.3rem;
/* was margin:0 .1em 1.5em 0 */
margin-top:0;
margin-right:0;
margin-bottom:1.5em;
margin-left:0;
max-width:96vw;
padding:0;
width:97%;/* was 96% after 70ch */
}

#header p {
color:#FDFCE0;
font-family:Palatino,'Palatino Linotype',Georgia,serif;
font-size:.5rem;
font-weight:700;
letter-spacing:.15em;
margin:0 auto;
padding:0;
text-align:center;
}
/* #main {
background:#fff7ee;
margin:0 auto;
width:98%; }*/

#main {
background-color:#fffcfc;
display:block;
margin:0 0;/* 0 .1rem 0 .9rem */
min-height:100vh;
min-width:360px;
overflow:hidden;
padding:0;
position:static;
width:95%;
}

#header {
background:#960;
padding:.15em 0;
}
.lft img,.listhead {
padding-bottom:0;
}
img {
max-width:100%;
}

#article {
display:block;
float:none;
height:100%;
margin:15px 0 20px;
padding-left:.35rem;
width:98%;
} /* PHONES */

.date {
border-left:1px solid #D63;
color:#777;
font-weight:400;
margin-left:10px;
padding-left:12px;
}

.listhead {
border:none;
color:#36260F;
margin-bottom:0;
}

figure {
margin:.6em;
padding:0em;
}
figure image {
margin:0;
}
figcaption {
color:#876;
font-size:.9rem;
font-style:normal;
font-weight:400;
line-height:1.2;
text-align:center;
}

.rgt {
float:right;
width:auto;
}

.lft {
float:left;
font:100%/1 'Playfair Display',Palatino,'Palatino Linotype',serif;
margin:0 1em 0 0;
width:auto;
}

div.lft>p /* this as a grandfather before change to figcaption */ {
color:#876;
font:.9rem/1.2 'Playfair Display',Palatino,'Palatino Linotype',serif;
font-style:normal;
font-weight:400;
text-align:center;
}

.phcapt {
margin-top:-.5em;
}

#navigate {
display:block;
overflow:hidden;
padding-top:5px;
width:92%;
}

#samplist {
border-bottom:2px solid #999;
border-left:none;
border-right:none;
display:block;
margin:0 0 1em;
padding-left:0;
width:98%;
}

.mbln,#gos {
display:none;
}
}

/* |||||||||||||||||||||||  TABLET TABLET  ||||||||||||||||||||||||||||||| */
/* WAS @media screen and (max-width: 600px) { */
@media only screen and (min-width: 768px) /*  TABLET  */   {
/* h1,h3 {
padding-left:2%;
} */
/*
#article,#navigate,.lft,h3 {
float:none; WHY NONE IF THIS IS *NOT* MOBILE DEVICES PHONES ???
} */

#header {
background:#960;
padding:.15em;
}

#header p {
font-weight:700;
letter-spacing:.4em;
margin:0 auto;
padding:7px 0;
text-align:center;
width:90%;
}

#main {
background-color:#fffcfc;
height:auto;
max-width:100%;/* was 1280px */
min-height:100%;
min-width:100%;
padding-left:5%;
overflow:hidden;
position:relative;
width:100%;
}/* TABLET THEN CASCADE ============= */

h1 {
color:#3A2918;
font:200% 'Playfair Display',Palatino,'Palatino Linotype',Georgia,serif;
font-weight:700;
margin:15px 0 10px; /* TOP R+L BOTTOM */
min-height:54px;
} /* If margin left and right values are the SAME, PUT L+R IN THE MIDDLE, and use the margin shorthand property with three values: */

h2 {
color: #675645;
font-family: 'Playfair Display',Palatino,Georgia,serif;
font-size: 1.2rem;
font-weight: 800;
margin: 0 0 20px 0;
text-transform: uppercase;
}

/*h3 {
border:1px dashed #FFD8FF;
width:99%;
}*/

.date {
border-left:1px solid #D63;
}

.listhead {
border:none;
color:#36260F;
font-size:.9rem;
line-height:1.4;
margin-bottom:0;
padding-bottom:0;
}

#article {
display:block;
float:right;
height:100%;
margin:15px auto 20px;
max-width:98%;
min-height:100%;
min-width:98%;
width:98%;
} /* TABLET  */

.lft {
float:left;
font: 100%/1 'Playfair Display',Palatino,'Palatino Linotype',serif;
margin:0 1em 0 0;
width:auto;
}
.lft img {
padding-bottom:0;
padding-left:8px;
}
img {
max-width:100%;
}
#navigate {
float:left;
margin:15px auto 1rem; /* top R+L bottom if there are 3 values here */
/* padding-left:5%; moved to div#main */
padding-top:5px;
padding-right:1.3em;
padding-bottom:10px;
/* same as desktop except left */
width:18%;
width:clamp(18%, 22%, 26%);
} /* TABLETS */
p {
font-size:1rem;
font-variant:normal;
letter-spacing:.03em;
line-height:1.4;
margin:0 0 1.5em 10px;
max-width:99%;
min-width:90%;
padding-right:1%;
width:90%;
} /* TABLET */
.lft>p {
font-size:.8rem;
font-variant:normal;
letter-spacing:.03em;
line-height:1.4;
margin:0 auto;
text-align:center;
}

input,textarea {
background-color:#fffcfc;
border:1px solid #640;
color:#999;
padding-top:8px;
width:85%;
}

textarea:focus {
background:#fefefe;
border:1px solid #5298EE;
height:5em;
}
}

/* WAS @media only screen and (min-width: 768px) and (max-width: 1024px) */
@media only screen and (min-width: 992px) /* DESKTOPS */ {

/* h1,h3 {
padding-left:2%;
} */

#article,#navigate,.lft,h3 {
float:none;
}

#header {
background:#960;
padding:.15em;
}

#header p {
font-weight:700;
letter-spacing:.4em;
margin:0 auto;
padding:7px 0;
text-align:center;
width:90%;
}

#main {
max-width:100%;
min-width:100%;
padding-left:5%;
width:100%;
}

h1 {
color:#3A2918;
font:200% 'Playfair Display',Palatino,'Palatino Linotype',Georgia,serif;
font-weight:700;
margin:15px 0 10px; /* TOP R+L BOTTOM */
min-height:54px;
} /* If margin left-right values SAME, PUT L+R IN THE MIDDLE, use margin shorthand property w 3 values: */

h2 {
color: #675645;
font-family: 'Playfair Display',Palatino,Georgia,serif;
font-size: 1.2em;
font-weight: 800;
margin: 0 0 20px 0;
text-transform: uppercase;
}

/*h3 {
border:1px dashed #FFD8FF;
width:99%;
}*/

.date {
border-left:1px solid #D63;
}

.listhead {
border:none;
color:#36260F;
font-size:.9em;
line-height:1.4;
margin-bottom:0;
padding-bottom:0;
}

#article {
display:block;
height:100%;
margin:15px auto 20px;
max-width:98%;
min-height:100%;
min-width:98%;
width:98%;
}

.lft {
float:left;
font: 100%/1 'Playfair Display',Palatino,'Palatino Linotype',serif;
margin:0 1em 1em 0;
width:auto;
}

.lft img {
padding-bottom:0;
padding-left:8px;
}

img {
max-width:100%;
}

#navigate {
float:left;
margin:15px auto 1rem; /* top R+L bottom  -if there are 3 values here */
padding-top:5px;
padding:5px 1.3em 10px 1%;
width:18%;
width:clamp(18%, 22%, 26%);
}  /* DESKTOPS */

p {
font-size:1em;
font-variant:normal;
letter-spacing:.03em;
line-height:1.4;
margin:0 0 1.5em 10px;
max-width:99%;
min-width:90%;
padding-right:1%;
width:90%;
}  /* DESKTOPS */
.lft>p {
font-size:.8em;
font-variant:normal;
letter-spacing:.03em;
line-height:1.4;
margin:0 auto;
text-align:center;
}

input,textarea {
background-color:#fffcfc;
border:1px solid #640;
color:#999;
padding-top:8px;
width:85%;
}

textarea:focus {
background:#fefefe;
border:1px solid #5298EE;
height:5em;
}
}/* DESKTOP END */
